<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.strangeye.dubalnebal.dao.BoardDao" >

    <!-- 전체글 조회 -->
    <select id="selectAll" resultType="com.strangeye.dubalnebal.dto.Board">
        SELECT board_id, board_content , board_title , board_view_cnt , date_format(board_updated_at, '%y-%m-%d %H:%i:%s') as board_updated_at , date_format(board_created_at, '%y-%m-%d') as board_created_at,
               board_image, user_name
        FROM board b
        inner join user u on u.user_id = b.User_user_id;
    </select>

    <!-- 상세글 조회-->
    <select id="selectOne" parameterType="int" resultType="com.strangeye.dubalnebal.dto.Board">
        SELECT board_id, board_content, board_title, board_view_cnt, DATE_FORMAT(board_updated_at, '%y-%m-%d %H:%i:%s') AS board_updated_at, DATE_FORMAT(board_created_at, '%y-%m-%d') AS board_created_at,
               board_image, user_name
        FROM board b
        INNER JOIN user u ON u.user_id = b.User_user_id
        WHERE u.user_id = #{User_user_id};
    </select>


    <!-- 게시글 등록 -->
    <insert id="insertBoard" parameterType="com.strangeye.dubalnebal.dto.Board" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO board (board_id , board_content, board_title, board_image)
        VALUES (#{board_id}, #{board_content}, #{board_title}, #{board_image} )
    </insert>


    <!-- 게시글 삭제 -->
    <delete id="deleteBoard" parameterType="int">
        DELETE FROM board
        WHERE borad_id = #{board_id}
    </delete>


    <!-- 조회수 증가 -->
    <update id="updateViewCnt" parameterType="int">
        UPDATE board
        SET board_view_cnt = board_view_cnt + 1
        WHERE board_id = #{board_id}
    </update>


    <!-- 게시글 수정 -->
    <update id="updateBoard" parameterType="com.strangeye.dubalnebal.dto.Board">
        UPDATE board
        SET board_title = #{board_title}, board_content=#{board_content}, board_updated_at = now()
        WHERE board_id= #{board_id}
    </update>


</mapper>
