<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.strangeye.dubalnebal.dao.CourseDao" >

    <!-- course의 id로 정보를 가져온다.-->
    <select id="selectOne" resultType="com.strangeye.dubalnebal.dto.Course">
        SELECT *
        FROM course
        WHERE course_id = #{course_id}
    </select>
</mapper>