<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.strangeye.dubalnebal.dao.PartyDao" >

    <insert id="writeParty" parameterType="com.strangeye.dubalnebal.dto.Party">
        <!-- 파티 생성 -->
        INSERT INTO party
            (
             party_duration,
             party_created_at,
             party_depart_date,
#              DATE_FORMAT(party_created_at, '%y-%m-%d %H:%i:%s') AS party_created_at,
#              DATE_FORMAT(party_depart_date, '%y-%m-%d %H:%i:%s') AS party_depart_date,
             party_limit,
             Course_course_id,
             User_user_id,
             title
             )
        VALUES
            (
                #{party_duration},
                CURRENT_TIMESTAMP,
                #{party_depart_date},
                #{party_limit},
                #{course_id},
                #{user_id},
                #{party_title}
             );
    </insert>

    <!-- id로 파티 찾기 -->
    <select id="selectParty">
        SELECT *
        FROM party
        WHERE party_id = #{party_id}
    </select>

    <!-- id에 맞는 파티를 찾아서 데이터 업데이트 -->
    <update id="updateParty" parameterType="com.strangeye.dubalnebal.dto.Party">
        UPDATE party
        SET
            party_duration = #{party_duration},
            party_depart_date = #{party_depart_date},
            party_limit = #{party_limit},
            title = #{party_title}
        WHERE
            party_id = #{party_id}
    </update>

    <!-- id에 맞는 파티 삭제 -->
    <delete id="deleteParty">
        DELETE FROM party
        WHERE party_id = #{party_id}
    </delete>

    <select id="selectAll" resultType="com.strangeye.dubalnebal.dto.Party">
        SELECT
            p.*,
            c.*,
            (SELECT COUNT(*) FROM User_Party pu WHERE pu.Party_party_id = p.party_id) AS user_count
        FROM
            party p
        inner join course c on c.course_id = p.Course_course_id;
    </select>

    <insert id="participateParty" >
        SELECT COUNT(*) AS user_count
        FROM User_Party
        WHERE Party_party_id = #{party_id};
    </insert>

</mapper>