<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.strangeye.dubalnebal.dao.UserDao" >

    <resultMap id="userMap" type="com.strangeye.dubalnebal.dto.User">
        <result column="user_id" property="userId" />
        <result column="user_identifier" property="userIdentifier" />
        <result column="user_password" property="userPassword" />
        <result column="user_name" property="userName" />
        <result column="user_email" property="userEmail" />
        <result column="user_image" property="userImage" />
    </resultMap>

    <insert id="insertUser" parameterType="com.strangeye.dubalnebal.dto.User">
        INSERT INTO USER
        (
            user_identifier,
            user_password,
            user_name,
            user_email
        )
        VALUES
            (
                #{userIdentifier},
                #{userPassword},
                #{userName},
                #{userEmail}
            );
    </insert>

    <select id="selectUserByUserIdAndPassword" parameterType="com.strangeye.dubalnebal.dto.User" resultType="userMap">
        SELECT *
        FROM user
        WHERE user_identifier = #{userIdentifier}
        AND user_password = #{userPassword};
    </select>

    <update id="updateUser" parameterType="com.strangeye.dubalnebal.dto.User">
        UPDATE user
        SET
            user_password = #{userPassword}},
            user_name = #{userName},
            user_email = #{userEmail},
            user_image = #{userImage}
        WHERE user_identifier = #{userIdentifier}
    </update>

    <delete id="deleteUser" parameterType="com.strangeye.dubalnebal.dto.User">
        DELETE FROM user
        WHERE user_identifier = #{userIdentifier};
    </delete>

</mapper>