<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.strangeye.dubalnebal.mapper.UserMapper" >

    <resultMap id="userMap" type="com.strangeye.dubalnebal.domain.User">
        <result column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="profile_image" property="profileImage" />
    </resultMap>

    <insert id="insertUser" parameterType="com.strangeye.dubalnebal.domain.User">
        INSERT INTO users
            (
                user_id,
                password,
                nickname,
                profile_image
            )
            VALUES
            (
                #{userId},
                #{password},
                #{nickname},
                #{profileImage}
            )
    </insert>

    <select id="selectUserByUserIdAndPassword" parameterType="com.strangeye.dubalnebal.domain.User" resultType="userMap">
        SELECT *
        FROM users
        WHERE user_id = #{userId}
        AND password = #{password}
    </select>

    <update id="updateUser" parameterType="com.strangeye.dubalnebal.domain.User">
        UPDATE users
        SET password = #{password}, nickname = #{nickname}, profile_image = #{profileImage}
    </update>

    <delete id="deleteUser" parameterType="com.strangeye.dubalnebal.domain.User">
        DELETE users
        WHERE user_id = #{userId}
    </delete>

</mapper>